* {
  box-sizing: border-box;
}

body {
  background-color: #f9f8f2;
  width: 100%;
  height: 100%;
}

#nav-container {   
  background-color: #ebe9e3;
  width: 100%;
  height: 75%;
  opacity: 0.9;
  position: fixed;
  top: 0;
}

#nav-container.hide {
  background-color: #f9f8f200;
  height: 36px;
}
  
#menu-button {   
  border: none;
  position: relative;
  left: 0;
  height: 30px;
  width: 30px;
  margin: 2px 5px;
  padding: 2px 2px;
  background: url("../img/menu_icon_hover.svg") no-repeat center;
  background-size: 100%;
  cursor: pointer;
}

#menu-button.hide {
  background: url("../img/menu_icon.svg") no-repeat center;
  background-size: 100%;
}

#menu-button:hover {
  background: url("../img/menu_icon_hover.svg") no-repeat center;
  background-size: 100%;
  transform: scale(1.08);
}

.nav-link {
  font-size: 2rem;
  display: block;
  font-family: 'Roboto Slab', serif;
  padding: 2px 5px;
  margin: 2px 5px;
  text-decoration: none;
  color: #232323;
}

.nav-link.hide {
  display: none;
}

.nav-link:hover {
  color: #f71b73;
  transform: scale(1.01);
}

#main-pic-div {
  margin: 20px 0;
}

#main-pic {
  padding: 10px 10px;
  border: 1px solid #cecece;
  box-shadow: 2px 4px 8px rgb(0, 0, 0, 0.4);
  max-width: 100%;
  max-height: 100%;
}

#candj {
  margin: 75px 0;
  text-align: center;
}
  
#pic-container {
  margin: auto;
  width: 40%; 
  height: 40%;
}

.names {
  margin: 4px 0;
  font-family: 'Rochester', cursive;
  font-size: 4rem;
  color: #232323;
}
  
.dateloc {
  margin: 4px 0;
  font-family: 'Rochester', cursive;
  font-size: 2rem;
  color: #232323;
}

.main-section {
  margin-top: 75px;
  width: 100%;
}

.section-content-container {
  width: 100%;
}

.section-content-container.flex {
  display: block;
}

.section-title-container {
  margin-bottom: 30px;
  text-align: center;
}

.section-title {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  margin: 0 5px;
  color: #232323; 
}

.section-content {
  font-family: 'Roboto', sans-serif;
  width: 60%;
  font-size: 1rem;
  padding: 2px 5px;
  margin: 15px auto;
  color: #232323; 
}

.flex-item {
  width: 60%; 
  height: 60%;
  margin: 0 auto 10px auto;
}

#venue-info {
  text-align: center;
  margin-bottom: 30px; 
}

#venue-pic, #venue-map {
  margin: auto;
  padding: 10px 10px;
  border: 1px solid #cecece;
  box-shadow: 2px 4px 8px rgb(0, 0, 0, 0.4);
  max-width: 100%;
  max-height: 100%;
}

#ceremony-title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  margin: 10px auto 2px auto;
  color: #232323; 
}

.ceremony-info {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  margin: 0 auto 1px auto;
  color: #232323; 
}

.ceremony-info.small {
  margin: 5px, auto, 0, auto;
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  #menu-button {
    display: none;
  }
  
  #nav-container {
    height: 36px;
  }

  #nav-container.hide {
    background-color: #ebe9e3;
  }

  nav {
    text-align: center;
    top: 0;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .nav-link {
    font-size: 1.2rem;
    height: 100%;
    display: inline-block;
  }

  .nav-link:hover {
    transform: scale(1.03);
  }

  .nav-link.hide {
    display: inline-block;
  }

  .section-content-container.flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 100%;
  }

  .flex-item {
    width: 35%;
    height: 100%;
    margin: 0;
  }

  #ceremony-title {
    margin: 10px 0 2px 0;
  }
  
  .ceremony-info {
    margin: 0 0 1px 0;
  }
  
  .ceremony-info.small {
    margin: 5px, 0, 0, 0;
  }
}