@font-face {
  font-family: 'Dividers';
  src: url('../fonts/dividers.eot');
  src: url('../fonts/dividers.eot?#iefix') format('embedded-opentype'),
       url('../fonts/dividers.woff2') format('woff2'),
       url('../fonts/dividers.woff') format('woff'),
       url('../fonts/dividers.ttf') format('truetype'),
       url('../fonts/dividers.svg#dividers') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  margin: 0;
}

em {
  font-weight: 600;
}

#nav-container {   
  background-color: #FFCDD2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

#nav-container.hide {
  background-color: #f9f8f200;
  height: 7%;
}
  
#menu-button {   
  border: none;
  position: relative;
  left: 0;
  height: 30px;
  width: 30px;
  margin: 2px 5px;
  padding: 2px 2px;
  background: url("../img/menu_icon_hover.svg") no-repeat center;
  background-size: 100%;
  cursor: pointer;
}

#menu-button.hide {
  background: url("../img/menu_icon.svg") no-repeat center;
  background-size: 100%;
}

#menu-button:hover {
  background: url("../img/menu_icon_hover.svg") no-repeat center;
  background-size: 100%;
  transform: scale(1.08);
}

.link {
  text-decoration: none;
  color: #232323;
  display: block;
}

.nav-link {
  font-size: 3.2rem;
  font-family: 'Playfair Display', serif;
  padding: 2px 5px;
  margin: 2px 5px;
}

.nav-link.hide {
  display: none;
}

.link:hover {
  color: #BE3B46;
  transform: scale(1.01);
}

#main-pic-div {
  margin: 4% 0;
}

#main-pic {
  padding: 10px 10px;
  border: 1px solid #cecece;
  box-shadow: 2px 4px 8px rgb(0, 0, 0, 0.4);
  max-width: 100%;
  max-height: 100%;
}

#candj {
  margin: 6% 0;
  text-align: center;
}
  
#pic-container {
  margin: auto;
  width: 70%; 
  height: 70%;
}

.names {
  margin: 1% 0;
  font-family: 'Great Vibes', cursive;
  font-size: 5.4rem;
  color: #232323;
}
  
.dateloc {
  margin: 1% 0;
  font-family: 'Great Vibes', cursive;
  font-size: 2.7rem;
  color: #232323;
}

.divider {
  font-family: 'Dividers';
  font-size: 3rem;
  color: #232323;
  text-align: center;
  margin: 8% 0 8% 4%;
}

.main-section {
  margin-top: 10%;
  width: 100%;
}

.section-content-container {
  width: 100%;
}

.section-content-container.flex {
  display: block;
}

.section-title-container {
  margin-bottom: 6%;
  text-align: center;
}

.section-title {
  font-family: 'Playfair Display', serif;
  font-size: 3.2rem;
  margin: 0 1%;
  color: #232323; 
}

.section-content {
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  font-size: 1.6rem;
  line-height: 150%;
  padding: 1% 1%;
  margin: 3% auto;
  color: #232323; 
}

.flex-item {
  width: 60%; 
  height: 60%;
  margin: 0 auto 10px auto;
}

#venue-info {
  text-align: center;
  margin-bottom: 6%; 
}

#venue-pic, #venue-map {
  margin: auto;
  padding: 10px 10px;
  border: 1px solid #cecece;
  box-shadow: 2px 4px 8px rgb(0, 0, 0, 0.4);
  max-width: 100%;
  max-height: 100%;
}

#ceremony-title {
  font-family: 'Playfair Display', serif;
  font-size: 2.4rem;
  margin: 3% auto 1% auto;
  color: #232323; 
}

.section-info {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  margin: 0 auto;
  color: #232323;
  display: block;
}

.section-info.small {
  font-size: 1.3rem;
}

.registry-link {
  text-align: center;
  margin: 5% 0;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  #menu-button {
    display: none;
  }
  
  #nav-container {
    height: 7%;
  }

  #nav-container.hide {
    background-color: #FFCDD2;
  }

  nav {
    text-align: center;
    top: 0;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .nav-link {
    font-size: 1.9rem;
    height: 100%;
    display: inline-block;
  }

  .nav-link:hover {
    transform: scale(1.03);
  }

  .nav-link.hide {
    display: inline-block;
  }

  .names {
    font-size: 6.4rem;
  }

  .dateloc {
    font-size: 3.6rem;
  }

  #pic-container {
    width: 60%; 
    height: 60%;
  }

  .section-content-container.flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 100%;
  }

  .section-content {
    width: 70%;
  }

  .flex-item {
    width: 35%;
    height: 100%;
    margin: 0;
  }

  #ceremony-title {
    margin: 3% 0 1% 0;
  }
  
  .section-info {
    margin: 0 0 1% 0;
  }
  
  .section-info.small {
    margin: 2%, 0, 0, 0;
  }
}

@media screen and (min-width: 1000px) {
  #menu-button {
    display: none;
  }
  
  #nav-container {
    height: 7%;
  }

  #nav-container.hide {
    background-color: #FFCDD2;
  }

  nav {
    text-align: center;
    top: 0;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .nav-link {
    font-size: 1.9rem;
    height: 100%;
    display: inline-block;
  }

  .nav-link:hover {
    transform: scale(1.03);
  }

  .nav-link.hide {
    display: inline-block;
  }

  .names {
    font-size: 6.4rem;
  }

  .dateloc {
    font-size: 3.6rem;
  }

  #pic-container {
    width: 50%; 
    height: 50%;
  }

  .section-content-container.flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 100%;
  }

  .section-content {
    width: 60%;
  }

  .flex-item {
    width: 35%;
    height: 100%;
    margin: 0;
  }

  #ceremony-title {
    margin: 3% 0 1% 0;
  }
  
  .section-info {
    margin: 0 0 1% 0;
  }
  
  .section-info.small {
    margin: 2%, 0, 0, 0;
  }
}

@media screen and (min-width: 450px) and (max-width: 768px) {
  .names {
    font-size: 5.9rem;
  }

  .dateloc {
    font-size: 3.2rem;
  }

  .section-content {
    width: 70%;
  }
}