body {
  background-color: #f9f8f2;
  width: 100%;
  height: 100%;
  margin: 0;
}
  
#nav-container {
  opacity: 0.9;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-link {
  font-family: 'Roboto Slab', serif;
  padding: 2px 5px;
  margin: 2px 5px;
  text-decoration: none;
  color: #232323;
}
  
.nav-link:hover {
  color: #f71b73;
}
  
#candj {
  margin: 75px 0;
  text-align: center;
}
  
.names {
  margin: 4px 0;
  font-family: 'Rochester', cursive;
  font-size: 4rem;
  color: #232323;
}
  
.dateloc {
  margin: 4px 0;
  font-family: 'Rochester', cursive;
  font-size: 2rem;
  color: #232323;
}
  
#main-pic-div {
  margin: 20px 0;
}
  
#pic-container {
  margin: auto;
  border: 1px solid #f71b73;
  border-radius: 3px;
  width: 239px; 
  height: 202px;
}
  
#main-pic {
  max-width: 100%;
  max-height: 100%;
}
  
.section-title-div {
  margin: 75px 0;
  text-align: center;
}
  
.section-title {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  padding: 5px 5px;
  margin: 20px 5px;
  color: #232323; 
}
  
.section-content {
  font-family: 'Roboto', sans-serif;
  width: 60%;
  font-size: 1rem;
  padding: 2px 5px;
  margin: 15px auto;
  color: #232323; 
}

@media screen and (max-width: 768px) {
  #nav-container {   
    background-color: #ebe9e3;
    height: 50%;
  }

  #nav-container.hide {
    background-color: #f9f8f200;
    height: 36px;
  }
  
  .menu-button {   
    border: none;
    position: relative;
    left: 0;
    height: 30px;
    width: 30px;
    margin: 2px 5px;
    padding: 2px 2px;
    background: url("../img/menu_icon.svg") no-repeat center;
    background-size: 100%;
    cursor: pointer;
  }

  .menu-button:hover {
    background: url("../img/menu_icon_hover.svg") no-repeat center;
    background-size: 100%;
  }

  .nav-link {
    font-size: 2rem;
    display: block;
  }

  .nav-link.hide {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  
  #nav-container {
    background-color: #ebe9e3;
    height: 36px;
  }

  nav {
    text-align: center;
    top: 0;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .nav-link {
    font-size: 1.2rem;
    height: 100%;
    display: inline-block;
  }
}